bcrypt==3.2.0
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
Flask==3.1.0
imageio==2.36.1
Jinja2==3.1.4
MarkupSafe==3.0.2
networkx==2.8.8
numpy==2.0.2
opencv-python-headless==4.10.0.84
pillow==11.0.0
protobuf==3.12.4
python-dateutil==2.8.1
requests==2.25.1
scikit-image==0.24.0
scipy==1.13.1
Werkzeug==3.1.3
